.breadcrumbs {
  margin-top: 75px;
  &-list {
    display: flex;
    gap: 24px;
    justify-content: center;

    &__item {
      list-style-type: none;
      position: relative;
      &:not(:first-child)::before {
        content: "";
        position: absolute;
        width: 8px;
        height: 1px;
        background-color: #666f78;
        border-radius: 8px;
        left: -8px;
        bottom: 40%;
        transform: translate(-8px, 40%);
      }
    }

    &__current {
      font-size: 14px;
      font-family: "Gilroy";
      font-weight: 400;
      line-height: 16px;
    }

    &__link {
      text-decoration: none;
      font-size: 14px;
      font-family: "Gilroy";
      font-weight: 400;
      line-height: 16px;
      color: #666f78;
    }

    .breadcrumbs__item--active {
      color: #000000;
    }
  }
}

.page-title {
  font-family: "Gilroy";
  font-weight: 700;
  text-align: center;
  font-size: 64px;
  line-height: 72px;
  color: #333333;
  margin-top: 10px;
}

.cards {
  margin-top: 33px;
  .news-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    &__item {
      overflow: hidden;
      width: 330px;
      height: 376px;
      border: 1px solid #e6e6e6;
      border-radius: 10px;
      position: relative;
      .news-list__image {
        width: 100%;
      }
    }

    .new-list__link{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    .news-list__item--active {
      width: 684px;
      position: relative;
      background: linear-gradient(
        360deg,
        #000000 0%,
        rgba(0, 0, 0, 0.81) 29.52%,
        rgba(0, 0, 0, 0) 52.13%
      );
    }

    .news-list__title--active {
      position: absolute;
      left: 0;
      bottom: 55px;
      font-family: "Gilroy";
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      max-width: 470px;
      color: #ffffff;
    }

    .news-list__date--active{
      position: absolute;
      color: #FFFFFF;
      left: 0;
      bottom: 21px;
    }

    &__title {
      font-family: "Gilroy";
      font-weight: 700;
      font-size: 18px;
      line-height: 32px;
      max-width: 282px;
      margin-top: 15px;
      margin-left: 24px;
      color: #000000;
    }

    &__date {
      font-family: "Gilroy";
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      margin-left: 24px;
      margin-top: 44px;
      color: #666f78;
    }
  }
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background-color: #fafafb;
  border-radius: 10px;
  margin-top: 48px;
  .button__show {
    color: #666f78;
    font-size: 16px;
    font-family: "Gilroy";
    font-weight: 500;
    line-height: 24px;
    border: none;
    background: none;
    cursor: pointer;
  }
}

.pagination {
  display: flex;
  gap: 12px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  &-list{
    display: flex;
    gap: 12px;
    .pagination-list__item{
      list-style-type: none;
      .pagination-list__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 10px;
        background-color: #fafafb;
        border: none;
        color: #666f78;
        stroke: #666f78;
        font-family: "Gilroy";
        font-weight: 500;
        cursor: pointer;
        transition: 0.5s ease-in-out;
        &--active {
          background-color: #bf5002;
          color: white;
          stroke: white;
        }

        &:hover{
          background-color: #bf5002;
          color: white;
          stroke: white;
        }
      }
    }
  }
}

.footer {
  background-color: #fafafb;
  margin-top: 96px;
  .footer-wrapper {
    .footer-navigator {
      display: flex;
      justify-content: space-between;
      padding-top: 10px;
      nav {
        ul {
          display: flex;
          flex-direction: column;
          gap: 17px;
          .title {
            margin-top: 35px;
            font-size: 18px;
            line-height: 24px;
            font-family: "Gilroy";
            font-weight: 500;
          }
          li {
            list-style: none;
            a {
              text-decoration: none;
              font-size: 16px;
              font-family: "Gilroy";
              font-weight: 400;
              line-height: 24px;
              color: #666f78;
            }
          }
        }
      }
    }

    .footer-line {
      border: 1px solid gainsboro;
      margin-top: 42px;
    }

    .social-network {
      .social {
        display: flex;
        align-items: center;
        margin-top: 33px;
        p {
          font-size: 24px;
          font-family: "Gilroy";
          font-weight: 700;
          line-height: 32px;
          color: #bf5002;
          margin-right: 53px;
        }

        .svg-icons {
          display: flex;
          align-items: center;
          gap: 35px;
          a {
            .social-icon {
              fill: black;
              transition: fill 0.3s ease-in-out;
              &:hover,
              &:focus {
                fill: #bf5002;
              }
            }
          }
        }
      }

      .network {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .network-list {
          display: flex;
          gap: 22px;
          margin-top: 14px;
          &__link{
            text-decoration: none;
            font-size: 14px;
            font-family: "Gilroy";
            font-weight: 400;
            line-height: 24px;
            color: #666f78;
          }
        }
        .development-information {
          display: flex;
          align-items: center;
          gap: 11px;
          font-size: 14px;
          font-family: "Gilroy";
          font-weight: 400;
          line-height: 24px;
          color: #666f78;
        }
      }
    }
  }
}
